@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 0, 0, 0;
  }

  .dark {
    --background: 15, 23, 42;
    --foreground: 255, 255, 255;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
